name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: '22.18.0'
          cache: pnpm
      - name: Install dependencies
        run: |
          corepack enable
          pnpm install --frozen-lockfile
      - name: Prettier Check
        run: pnpm prettier:check
